streamlit>=1.32
moviepy>=1.0.3
ffmpeg-python>=0.2.0
opencv-python-headless>=4.9.0.80
pillow>=10.3.0
imageio>=2.34.1
imageio-ffmpeg>=0.4.9
pandas>=2.2.2
openpyxl>=3.1.2
edge-tts>=6.1.10
gTTS>=2.5.1
numpy>=1.26.4
pydub>=0.25.1
rich>=13.7.1
requests>=2.31.0
pydantic>=2.7.1
pydantic-settings>=2.2.1
python-dotenv>=1.0.1
psutil>=5.9.8
